.formContainer {
  width: 290px;
  height: 250px;
  margin: 0 auto;
  @media (min-width : 360px) and
  (max-width : 450px){
    width: 320px;
  }
  @media (min-width : 451px) {
    width: 400px;
  }
  border-radius: 7px;
  padding-top: 25px;
  margin-bottom: 30px;
  background-color: white;

  input {
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    height: 55px;
    padding-left: 12.5%;
    margin: 0 auto;
  }
  label {
    width: 100%;
    padding-bottom: 10px;
  }

  .leftIcon() {
    z-index: 1;
    top: 18px;
    left: 15px;
  }

  .icon-label-username,
  .icon-label-password,
  .icon-label-email {
    position: relative;
  }

  .icon-label-username:before {
    .label(@fa-username);
    .leftIcon()
  }
  .icon-label-password:before {
    .label(@fa-password);
    .leftIcon()
  }
  .icon-label-email:before {
    .label(@fa-email);
    .leftIcon()
  }

  .icon-label-error:after {
    .label(@fa-warn);
    right: 10px;
    top: 17px;
    color: #e7518f;
  }
}
.has-error {
  border: 1px solid #E95B95;
  background-color: #FEEDED;
}
.innerForm {
  float: right;
  padding: 0px 30px;
  width: 100%;
}
@media (min-width : 451px) {
  .centerDiv {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 400px;
  }
}


.warning:before {
  content: '';
  position: absolute;
  background: transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #e7518f;
  position: absolute;
  top: 100%;
  right: 10%;
}

// block container
.warning {
  position: relative;
  background: #e7518f;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  top: -20px;
  right: 0;
  border-radius: 5px;
  line-height: 8px;
}
